.header-section{
    background-color: #F0FFF0;
}
.logo-size{
    width: 200px;
}
.container{
    margin-bottom: 100px;
}
.intro-img img{
    width: 100%;
}
.red{
    color: #FA7F53;
    font-size: 15px;
}
.green{
    color: #21B573;
}
.button{
    /* background: linear-gradient(180deg, #FF5196, #FF2178) ; */
    background-color: #21B573;
    border-radius: 27px;
    padding: 10px 30px;
    color: #fff;
    border: none;
    margin-top: 10px;
}
.weighted{
    font-weight: 800;
    font-size: 48px;
}
.about-img img{
    height: 60px;
    width: auto;
    margin-bottom: 30px;
}
.about-img{
    padding: 40px 0px;
    background-color: #F7FFFB;
    border-radius: 10px;
    /* font-family: sans-serif; */
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
.image{
    height: 50px;
    margin-bottom: 20px;
}
.grid1{
    background-color: rgb(150, 144, 144);
    border-radius: 7px;
    width: 20%;
    margin: 10px;
    padding: 61px 5px;
}
.inner{
    width: 80%;
}
/* #about{
    padding: 28px 10px;
.topic{
    font-weight: 500;
} */
.text{
    font-weight: 400;
}
.card{
    border:none;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    margin-top: 30px;
}
.card-footer{
    border: none;
    background-color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
}
.card img{
    padding: 20px;
}
.card-footer img{
    width: 65px;
}
.online{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}
.card-title{
    font-weight: 700;
}
.card-text{
    font-weight: 500;
}
.test img{
    width: 150px;
}
.test-text{
    font-weight: 500;
}
/* .center{
    margin-left: 350px;
} */
.recommend li{
    list-style: none;
    font-size: 20px;
}
.footer{
    background-color: #272530;
    color: white;
    padding: 50px 20px;
}
.container .copy{
    text-align: center;
    font-size: 20px;
}
/* Start About Section Codes */
.grid-column img{
    height: 70px;
}
#inner{
    width: 95%;
    background-color: #F7FFFB;
    padding: 35px 20px;
    text-align: center;
    margin: 10px;
    height: 250px;
    border-radius: 7px;
}
#inner img{
    height: 70px;
}
#inner:hover{
    background-color: white;
    box-shadow: 5px 5px 10px gray;
}
/* End About Section Codes */
